<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Active Node Creation and Linking</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        overflow: hidden;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f0f0f0;
        position: relative;
        user-select: none;
      }

      .node {
        position: absolute;
        background-color: red;
        color: white;
        font-size: large;
        font-weight: bold;
        border-radius: 10px;
        cursor: pointer;
        border: 2px solid transparent;
        padding: 10px 20px;

        /* clip excess text */
        max-width: 450px;
        max-height: 450px;
        display: -webkit-box;
        overflow-x: hidden;
        overflow-y: auto;
        text-overflow: ellipsis;
        white-space: normal;

        /* scrolling styles */
        scrollbar-width: thin;
        scrollbar-color: white transparent;
        scroll-behavior: smooth;

        resize: both;
      }

      .node.active {
        background-color: rgb(0, 255, 247) !important;
      }

      .node.memorized {
        background-color: rgb(0, 38, 255);
      }

      .line {
        position: absolute;
        height: 2px;
        background-color: black;
        transform-origin: 0 50%;
        z-index: -1;
      }

      .line-memory {
        position: absolute;
        height: 2px;
        background-color: rgba(0, 38, 255, 0.37);
        transform-origin: 0 50%;
        z-index: -1;
      }

      .cursor {
        width: 1px;
        height: 20px;
        background-color: rgb(255, 123, 0);
        animation: blink 1s step-end infinite;
        margin-left: 0px;
      }

      @keyframes blink {
        0%,
        100% {
          opacity: 1;
        }

        50% {
          opacity: 0;
        }
      }

      #inputs {
        z-index: 100;
        position: absolute;
        bottom: 10px;
        width: 90%;
        display: flex;
      }

      #promptTxt {
        padding: 10px 10px;
        font-size: 16px;
        background-color: #343434;
        color: #f7fff7;
        width: 80%;
        flex: none;
        border-radius: 5px;
      }

      #fileToUpload {
        display: block;
        padding: 10px 10px;
        margin: 0px 5px;
        background-color: #343434;
        color: #f0f0f0;
        border-radius: 5px;
      }

      #uploadTxtBtn {
        border-radius: 5px;
        background-color: #343434;
        color: #f0f0f0;
      }
    </style>
  </head>

  <body>
    <div id="inputs">
      <input
        placeholder="> type your prompt here"
        type="text"
        name="prompt"
        id="promptTxt"
        autofocus
        spellcheck="true"
      />
      <input
        type="file"
        name="customFile"
        id="fileToUpload"
        accept=".txt,.text"
      />
      <button id="uploadTxtBtn">Upload</button>
    </div>

    <div id="container">
      <div
        id="contextState"
        style="
          position: fixed;
          top: 10px;
          left: 10px;
          background-color: white;
          padding: 0px 10px 10px 10px;
          border: 1px solid black;
          border-radius: 5px;
          min-width: 200px;
          z-index: 100;
        "
      >
        <h3>Context state</h3>
        <div id="nodeList">
          <ul
            id="nodeListContainer"
            style="list-style-type: none; padding: 0"
          ></ul>
        </div>
        <button onclick="clearNodes()">Clear</button>
        <button onclick="dumpState()">Dump State</button>
      </div>
    </div>

    <script>
      const NODE_OFFSET_Y = 150;
      let nodes = []; // The nodes that are currently on the screen
      let edges = {};
      let activeNode = null; // The node that is currently selected

      let memory = []; // The nodes + type that are in the context state
      let isDragging = false;
      let draggedNode = null;
      let startDragPosX = 0;
      let startDragPosY = 0;
      let lastCreatedNode;
      let mouseX = 0;
      let mouseY = 0;
      let clickedBackgroundPosition = { x: 0, y: 0 };
      let isDraggingBackground = false;
      let offsetXBackground = 0;
      let offsetYBackground = 0;
      let isHoldingCtrl = false;
      let isHoldingShift = false;
      let isHoldingAlt = false;
      let uid = 2003;

      /*
      state machine
      Node := {
        id: integer, // unique identifier
        payload: string, // content in the node
        top: integer, // top value in style
        left: integer, // left value in style
      };

      State := {
        nodes: Array<Node>,
        edges: Arraz<{
          self: Node, // node in ctx
          parents: Array<Node>, // parents
        }>
      };

      Note: Instead of storing children, I store the parents
      as it is easier to get all the parents using `activeNodes`
      */
      let state = {
        nodes: [],
        edges: [],
      };

      function createNode(text, x, y, generatedByLLM = false) {
        const node = document.createElement("div");
        node.classList.add("node");
        node.textContent = text;
        document.body.appendChild(node);

        const boundingBox = node.getBoundingClientRect();
        const nodeX = x - boundingBox.width / 2;
        const nodeY = y - boundingBox.height / 2;

        node.style.left = nodeX + "px";
        node.style.top = nodeY + "px";

        node.addEventListener("dblclick", () => {
          if (node.classList.contains("memorized")) {
            node.classList.remove("memorized");
            memory = memory.filter((memoryNode) => memoryNode !== node);
          } else {
            setMemorizedNode(node);
            memory.push(node);
          }
          updateNodeList();
        });

        node.addEventListener("click", () => {
          if (isDragging === false) {
            setActiveNode(node);
          }
        });

        node.addEventListener("pointerdown", (e) => {
          if (isHoldingCtrl || isHoldingShift) {
            return;
          }
          startDrag(e, node);
        });

        if (memory.length > 0) {
          memory.forEach((_node) => {
            makeParent(_node, node, true);
          });
        }
        if (activeNode) {
          makeParent(activeNode, node, false);
        }
        nodes.push(node);
        lastCreatedNode = node;

        /*
          update the state at this point so that the
          nodes created by the LLM is aware of this node as well

          control-flow:
          1. create instance of this Node
          2. add it to state
          3. compute all the edges
          4. add edges to the state
        */
        uid += 1;
        let new_node = {
          id: uid,
          payload: text,
          left: nodeX,
          top: nodeY,
        };
        state.nodes.push(new_node);
        node.dataset.nodeId = uid;

        const parents = document.getElementsByClassName("node active");

        if (parents.length > 0) {
          let parent_ids = [];
          for (let i = 0; i < parents.length; i++) {
            parent_ids.push(parents[i].dataset.nodeId);
          }
          state.edges.push({
            self: uid,
            parents: parent_ids,
          });
        }

        if (generatedByLLM === false) {
          setActiveNode(node);
        }
      }

      function main() {}

      function dumpState() {
        console.log(state);

        //from: https://stackoverflow.com/questions/19721439/download-json-object-as-a-file-from-browser
        const dataURI =
          "data:text/json;charset=utf-8," +
          encodeURIComponent(JSON.stringify(state, null, 2));
        const downloadElem = document.createElement("a");
        downloadElem.setAttribute("href", dataURI);
        downloadElem.setAttribute("download", "state.json");
        document.body.appendChild(downloadElem);
        downloadElem.click();
        downloadElem.remove();
      }

      const uploadTxtBtn = document.querySelector("#uploadTxtBtn");
      uploadTxtBtn.addEventListener("click", function () {
        const [fileToUpload] = document.querySelector("#fileToUpload").files;

        const reader = new FileReader();
        reader.addEventListener("load", function () {
          const fileContent = reader.result;
          createNode(fileContent, mouseX, mouseY);
        });

        if (fileToUpload) {
          reader.readAsText(fileToUpload);
        }
      });

      function updateNodeList() {
        const nodeListContainer = document.getElementById("nodeListContainer");
        nodeListContainer.innerHTML = "";

        memory.forEach((node, index) => {
          const listItem = document.createElement("li");
          listItem.style.display = "flex";
          listItem.style.justifyContent = "space-between";
          listItem.style.alignItems = "center";
          listItem.style.backgroundColor = "black";
          listItem.style.color = "white";
          listItem.style.padding = "5px 10px";
          listItem.style.marginBottom = "5px";
          listItem.style.borderRadius = "5px";

          const nodeText = document.createElement("span");
          nodeText.textContent = node.textContent;

          const deleteButton = document.createElement("button");
          deleteButton.innerHTML = "&#10006;";
          deleteButton.style.background = "none";
          deleteButton.style.border = "none";
          deleteButton.style.color = "white";
          deleteButton.style.cursor = "pointer";
          deleteButton.addEventListener("click", () =>
            removeNodeFromMemory(node)
          );

          listItem.appendChild(nodeText);
          listItem.appendChild(deleteButton);
          nodeListContainer.appendChild(listItem);
        });
      }

      function clearNodes() {
        memory.forEach((node) => setMemorizedNode(node));
        memory = [];
        updateNodeList();
      }

      function removeNodeFromMemory(node) {
        memory = memory.filter((memoryNode) => memoryNode !== node);
        setMemorizedNode(node);
        updateNodeList();
      }

      memory.push = function () {
        Array.prototype.push.apply(this, arguments);
        updateNodeList();
      };

      function sendToLLM(node) {
        let x = 0,
          y = 0,
          nodeText = "";
        if (node) {
          x = parseInt(node.style.left);
          y = parseInt(node.style.top);
          nodeText = node.textContent;
        } else {
          x = 0;
          y = 0;
          nodeText = "";
        }
        const nodePosition = getNodePosition(node);

        let promptForLLM = "[";

        for (let i = 0; i < memory.length; i++) {
          promptForLLM += `${nodeText}`;

          if (i < memory.length - 1) {
            promptForLLM += ",";
          }
          if (i === memory.length - 1) {
            promptForLLM += ` connected to `;
          }
        }
        promptForLLM += `${nodeText}]`;

        fetch("/chat", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ message: promptForLLM }),
        })
          .then((response) => response.json())
          .then((data) => {
            const resonesNodeTexts = data["response"];

            for (let i = 0; i < resonesNodeTexts.length; i++) {
              createNode(
                resonesNodeTexts[i],
                nodePosition.x + i * 200 - 200,
                nodePosition.y + NODE_OFFSET_Y / 2,
                true
              );
            }
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }

      function setMemorizedNode(node) {
        node.classList.toggle("memorized");
        node.classList.remove("active");
      }

      function unsetActiveNode(node) {
        if (node) {
          node.classList.remove("active");
        }
      }

      function setActiveNode(node) {
        activeNode = node;

        nodes.forEach((_node) => {
          _node.classList.remove("active");
        });
        // if (isHoldingCtrl === false && isHoldingShift === false) {
        //   activeNodes.forEach((activeNode) =>
        //     activeNode.classList.remove("active")
        //   );
        //   activeNodes = [];
        // }
        // activeNodes.push(node);

        node.classList.add("active");
      }

      function makeParent(parentNode, childNode, isMemoryNode = false) {
        const line = document.createElement("div");
        line.classList.add(isMemoryNode ? "line-memory" : "line");
        document.body.appendChild(line);
        updateLine(line, parentNode, childNode);

        parentNode.lines = parentNode.lines || [];
        childNode.lines = childNode.lines || [];
        parentNode.lines.push({
          line,
          target: childNode,
          type: "targetIsChild",
        });
        childNode.lines.push({
          line,
          target: parentNode,
          type: "targetIsParent",
        });
      }

      function updateLine(line, node1, node2) {
        const node1Pos = node1.getBoundingClientRect();
        const node2Pos = node2.getBoundingClientRect();

        const x1 = node1Pos.left + node1Pos.width / 2;
        const y1 = node1Pos.top + node1Pos.height / 2;
        const x2 = node2Pos.left + node2Pos.width / 2;
        const y2 = node2Pos.top + node2Pos.height / 2;

        const dx = x2 - x1;
        const dy = y2 - y1;
        const distance = Math.sqrt(dx * dx + dy * dy);
        const angle = Math.atan2(dy, dx) * (180 / Math.PI);

        line.style.width = `${distance}px`;
        line.style.left = `${x1}px`;
        line.style.top = `${y1}px`;
        line.style.transform = `rotate(${angle}deg)`;
      }

      function startDrag(event, node) {
        isDragging = true;
        draggedNode = node;
        startDragPosX = event.clientX;
        startDragPosY = event.clientY;

        node.style.cursor = "grabbing";
        // setActiveNode(node);
        document.addEventListener("pointermove", onDrag);
        document.addEventListener("pointerup", stopDrag);
      }

      function onDrag(event) {
        if (isHoldingCtrl || isHoldingShift) {
          return;
        }
        if (isDragging && draggedNode) {
          let offsetX = event.clientX - startDragPosX;
          let offsetY = event.clientY - startDragPosY;

          startDragPosX = event.clientX;
          startDragPosY = event.clientY;

          const x = draggedNode.getBoundingClientRect().left + offsetX;
          const y = draggedNode.getBoundingClientRect().top + offsetY;
          draggedNode.style.left = `${x}px`;
          draggedNode.style.top = `${y}px`;

          if (draggedNode.lines) {
            draggedNode.lines.forEach((lineContainer) => {
              if (isHoldingAlt == false) {
                if (lineContainer.type == "targetIsChild") {
                  const child = lineContainer.target;

                  const x = child.getBoundingClientRect().left + offsetX;
                  const y = child.getBoundingClientRect().top + offsetY;
                  child.style.left = `${x}px`;
                  child.style.top = `${y}px`;

                  updateLines(child);
                }
              }

              updateLine(lineContainer.line, draggedNode, lineContainer.target);
            });
          }
        }
      }

      function updateLines(node) {
        node.lines.forEach((lineContainer) => {
          updateLine(lineContainer.line, node, lineContainer.target);
        });
      }

      function stopDrag() {
        isDragging = false;
        if (draggedNode) {
          draggedNode.style.cursor = "pointer";
        }
        draggedNode = null;
        document.removeEventListener("pointermove", onDrag);
        document.removeEventListener("pointerup", stopDrag);
      }

      function getNodePosition(node) {
        const boundingBox = node.getBoundingClientRect();
        const x = boundingBox.left + boundingBox.width / 2;
        const y = boundingBox.top + boundingBox.height / 2;
        return { x, y };
      }

      document.addEventListener("keydown", function (event) {
        const promptTxtBox = document.querySelector("#promptTxt");
        promptTxtBox.focus();

        if (event.key === "Enter") {
          const inputText = promptTxtBox.value;

          if (inputText.trim() == "") {
            return;
          }

          promptTxtBox.value = "";

          let pos = { x: 0, y: 0 };

          if (memory[0]) {
            pos = getNodePosition(memory[0]);
          } else if (lastCreatedNode) {
            pos = getNodePosition(lastCreatedNode);
          } else {
            pos.x = window.innerWidth / 2;
          }
          pos.y += NODE_OFFSET_Y;

          createNode(inputText, pos.x, pos.y);
          sendToLLM(activeNode);
        } else if (event.key === "Control") {
          isHoldingCtrl = true;
        } else if (event.key === "Shift") {
          isHoldingShift = true;
        } else if (event.key === "Alt") {
          isHoldingAlt = true;
        } else if (event.key === "Delete") {
          nodes.forEach((node) => {
            if (node.lines) {
              node.lines.forEach((lineContainer) => {
                lineContainer.line.remove();

                if (lineContainer.target.lines) {
                  lineContainer.target.lines =
                    lineContainer.target.lines.filter(
                      (connection) => connection.target !== node
                    );
                }
              });
            }

            nodes = nodes.filter((existingNode) => existingNode !== node);

            node.remove();
          });
          nodes = [];
        } else {
          return;
        }
      });
      document.addEventListener("keyup", function (event) {
        if (event.key === "Control") {
          isHoldingCtrl = false;
        } else if (event.key === "Shift") {
          isHoldingShift = false;
        } else if (event.key === "Alt") {
          isHoldingAlt = false;
        }
      });

      document.addEventListener("pointerdown", function (event) {
        if (event.target === document.body) {
          if (isHoldingCtrl === false && isHoldingShift === false) {
            nodes.forEach((_node) => _node.classList.remove("active"));
          }

          isDraggingBackground = true;
          clickedBackgroundPosition.x = event.clientX;
          clickedBackgroundPosition.y = event.clientY;
        }
      });

      document.addEventListener("pointermove", function (event) {
        mouseX = event.clientX;
        mouseY = event.clientY;
        if (isDraggingBackground) {
          const diffX = event.clientX - clickedBackgroundPosition.x;
          const diffY = event.clientY - clickedBackgroundPosition.y;
          nodes.forEach((_node) => {
            _node.style.left = `${parseInt(_node.style.left) + diffX}px`;
            _node.style.top = `${parseInt(_node.style.top) + diffY}px`;
            if (_node.lines) {
              _node.lines.forEach((lineContainer) => {
                updateLine(lineContainer.line, _node, lineContainer.target);
              });
            }
          });

          clickedBackgroundPosition.x = event.clientX;
          clickedBackgroundPosition.y = event.clientY;
        }
      });
      document.addEventListener("pointerup", function (event) {
        isDraggingBackground = false;
      });

      main();
    </script>
  </body>
</html>
