<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="static/favicon.ico" />
    <!-- //main.js in static flask  -->
    <script defer src="static/main.js"></script>
    <script defer src="static/Inputs.js"></script>
    <script defer src="static/StateMachine.js"></script>
    <script defer src="static/Debug.js"></script>
    <script defer src="static/DOMGraph.js"></script>
    <link rel="stylesheet" href="static/style.css" />

    <title>Brainstorm AI</title>
  </head>

  <body>
    <div id="inputs">
      <input
        placeholder="> type your prompt here"
        type="text"
        name="prompt"
        id="promptTxt"
        autofocus
        spellcheck="true"
      />
    </div>

    <div id="container">
      <div
        id="contextState"
      >
        <h3>Context state</h3>
        <div id="nodeList">
          <ul
            id="nodeListContainer"
            style="list-style-type: none; padding: 0"
          ></ul>
        </div>
        <!-- <button onclick="clearNodes()">Clear</button> -->
        <button id="btnSave">Save</button>
        <button id="btnSavePNG">Save [PNG]</button>
      </div>
    </div>

  </body>
</html>
